USE [master]
GO
/****** Object:  Database [UjFutarDB]    Script Date: 2023. 06. 04. 21:33:55 ******/
CREATE DATABASE [UjFutarDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UjFutarDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UjFutarDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UjFutarDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UjFutarDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UjFutarDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UjFutarDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2023. 06. 04. 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CsomagAdatok]    Script Date: 2023. 06. 04. 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CsomagAdatok](
	[CsomagId] [int] IDENTITY(1,1) NOT NULL,
	[Allapot] [int] NOT NULL,
	[AktualisPozicio] [nvarchar](max) NOT NULL,
	[JarmuRendszam] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CsomagAdatok] PRIMARY KEY CLUSTERED 
(
	[CsomagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SzallitasiAdatok]    Script Date: 2023. 06. 04. 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SzallitasiAdatok](
	[CsomagAdatokId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[FeladoId] [int] NOT NULL,
	[CimzettId] [int] NOT NULL,
 CONSTRAINT [PK_SzallitasiAdatok] PRIMARY KEY CLUSTERED 
(
	[CsomagAdatokId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Szemely]    Script Date: 2023. 06. 04. 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Szemely](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](max) NOT NULL,
	[Cim] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[SzallitasiAdatokCsomagAdatokId] [int] NULL,
 CONSTRAINT [PK_Szemely] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_SzallitasiAdatok_CimzettId]    Script Date: 2023. 06. 04. 21:33:56 ******/
CREATE NONCLUSTERED INDEX [IX_SzallitasiAdatok_CimzettId] ON [dbo].[SzallitasiAdatok]
(
	[CimzettId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SzallitasiAdatok_FeladoId]    Script Date: 2023. 06. 04. 21:33:56 ******/
CREATE NONCLUSTERED INDEX [IX_SzallitasiAdatok_FeladoId] ON [dbo].[SzallitasiAdatok]
(
	[FeladoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Szemely_SzallitasiAdatokCsomagAdatokId]    Script Date: 2023. 06. 04. 21:33:56 ******/
CREATE NONCLUSTERED INDEX [IX_Szemely_SzallitasiAdatokCsomagAdatokId] ON [dbo].[Szemely]
(
	[SzallitasiAdatokCsomagAdatokId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SzallitasiAdatok]  WITH CHECK ADD  CONSTRAINT [FK_SzallitasiAdatok_CsomagAdatok_CsomagAdatokId] FOREIGN KEY([CsomagAdatokId])
REFERENCES [dbo].[CsomagAdatok] ([CsomagId])
GO
ALTER TABLE [dbo].[SzallitasiAdatok] CHECK CONSTRAINT [FK_SzallitasiAdatok_CsomagAdatok_CsomagAdatokId]
GO
ALTER TABLE [dbo].[SzallitasiAdatok]  WITH CHECK ADD  CONSTRAINT [FK_SzallitasiAdatok_Szemely_CimzettId] FOREIGN KEY([CimzettId])
REFERENCES [dbo].[Szemely] ([Id])
GO
ALTER TABLE [dbo].[SzallitasiAdatok] CHECK CONSTRAINT [FK_SzallitasiAdatok_Szemely_CimzettId]
GO
ALTER TABLE [dbo].[SzallitasiAdatok]  WITH CHECK ADD  CONSTRAINT [FK_SzallitasiAdatok_Szemely_FeladoId] FOREIGN KEY([FeladoId])
REFERENCES [dbo].[Szemely] ([Id])
GO
ALTER TABLE [dbo].[SzallitasiAdatok] CHECK CONSTRAINT [FK_SzallitasiAdatok_Szemely_FeladoId]
GO
ALTER TABLE [dbo].[Szemely]  WITH CHECK ADD  CONSTRAINT [FK_Szemely_SzallitasiAdatok_SzallitasiAdatokCsomagAdatokId] FOREIGN KEY([SzallitasiAdatokCsomagAdatokId])
REFERENCES [dbo].[SzallitasiAdatok] ([CsomagAdatokId])
GO
ALTER TABLE [dbo].[Szemely] CHECK CONSTRAINT [FK_Szemely_SzallitasiAdatok_SzallitasiAdatokCsomagAdatokId]
GO
USE [master]
GO
